@CHARSET "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

#header {
	width: 100%;
	height: 5.5%;
	border-bottom: 1px solid #E5E5E5;
	background-color: #F2F2F2;
	min-width: 888px; /* div的最小宽度为888px */
}

#header .header-left {
	float: left;
	width: 55%;
	height: 100%;
	min-width: 500px; /* div的最小宽度为500px */
}

#header .header-left ul {
	float: left;
	margin-left: 10%;
	line-height: 30px;
}

#header .header-left li {
	padding: 0px 3px;
	float: left;
	font-size: 12px;
	list-style-type: none;
	color: #999999;
}

#header .header-left a {
	text-decoration: none;
	color: #999999;
}