<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jms="http://www.springframework.org/schema/jms" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context-3.0.xsd
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	 http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms-3.0.xsd
     http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">
	<!-- =====================spring jms start====================================================================== -->
	<!-- 真正可以产生Connection的ConnectionFactory，由对应的 JMS服务厂商提供 -->
	<bean id="targetConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
		<property name="brokerURL" value="${activemq.brokerURL}" />
	</bean>

	<bean id="pooledConnectionFactory" class="org.apache.activemq.pool.PooledConnectionFactory" destroy-method="stop">
		<property name="connectionFactory" ref="targetConnectionFactory" />
		<property name="maxConnections" value="10" />
	</bean>

	<!-- Spring用于管理真正的ConnectionFactory的ConnectionFactory -->
	<bean id="connectionFactory" class="org.springframework.jms.connection.CachingConnectionFactory">
		<property name="targetConnectionFactory" ref="pooledConnectionFactory" />
		<property name="reconnectOnException" value="true" />
		<property name="sessionCacheSize" value="10" />
	</bean>
	<!-- Spring提供的JMS工具类，它可以进行消息发送、接收等 -->
	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<!-- 这个connectionFactory对应的是我们定义的Spring提供的那个ConnectionFactory对象 -->
		<property name="connectionFactory" ref="connectionFactory" />
	</bean>
	<!-- =====================spring jms end====================================================================== -->



	<!-- work destination start -->
	<!--统计队列目的地 -->
	<bean id="statDestination" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg>
			<value>recvQueue</value>
		</constructor-arg>
	</bean>
	<!-- work destination end -->


	<!-- 过滤清洗队列的MessageListener （占用线程数量=消费者个数、当前默认2个）-->
	<bean id="statListenerContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory"></property>
		<property name="destination" ref="statDestination"></property>
		<property name="messageListener" ref="smsConsumerSessionAwareMessageListener"></property>
		<property name="sessionTransacted" value="true"></property>
		<property name="errorHandler" ref="someHandler" />
		<!-- 设置固定的线程数 -->
		<property name="concurrentConsumers" value="5"></property>
		<property name="idleTaskExecutionLimit" value="2"></property>
		<!-- 设置动态的线程数 -->
		<property name="concurrency" value="2-6"></property>
		<!-- 设置最大的线程数 -->
		<property name="maxConcurrentConsumers" value="10"></property>
		<!-- queue情况 设置为false -->
		<property name="pubSubDomain" value="false"></property>
		<!-- 消费者不会接收来自同一个连接的消息 -->
		<property name="pubSubNoLocal" value="true"></property>
	</bean>


	<!-- 过滤清洗队列的MessageListener -->
	<bean id="smsConsumerSessionAwareMessageListener" class="com.obc.listener.SmsConsumerSessionAwareMessageListener">
		<property name="taskMap">
			<map>
				<entry key="R005" value-ref="emailMessageService" />
			</map>
		</property>
		<property name="taskExeTimeMap" ref="exeTimeMap"></property>
	</bean>

	<!-- 任务执行时间的定义 -->
	<util:map id="exeTimeMap" map-class="java.util.HashMap">
		<entry key="S001" value="20"></entry>
	</util:map>

</beans>