<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.obc.modules.sys.dao.BcSysUserRoleDao">
    <sql id="UserRoleColumns">
        bsur.sys_user_role_id,
        bsur.sys_user_id,
        bsur.sys_role_id
    </sql>
    
    
</mapper>