<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.obc.modules.sys.dao.BcSysMenuDao">
    <sql id="MenuColumns">
        bsm.sys_meum_id,
        bsm.sn,
        bsm.name,
        bsm.priority,
        bsm.parent_id,
        bsm.description,
        bsm.url
    </sql>
    <resultMap type="bcSysMenu" id="menuResult">
        <id property="sys_meum_id" column="sys_meum_id" />
        <result property="sn" column="sn" />
        <result property="name" column="name" />
        <result property="priority" column="priority" />
        <result property="parent_id" column="parent_id" />
        <result property="description" column="description" />
        <result property="url" column="url" />
    </resultMap>
    <select id="findSysMenu">
        select
        <include refid="MenuColumns" />
        from bc_sys_menu bsm
    </select>

</mapper>