@CHARSET "UTF-8";

@import url('../css.css');

#centre {
	height: 588px;
}

#centre .centre-left {
	height: 493px;
	width: 61%;
	float: left;
}

#centre .centre-right {
	height: 493px;
	width: 39%;
	float: left;
}

#centre .centre-left .input {
	width: 288px;
	height: 37px;
	text-align: left;
}

#centre .centre-left .tr-top {
	line-height: 57px;
}

#centre .centre-left .tr-bottom {
	height: 20px;
}

#centre .centre-left span {
	color: red;
	font-size: 11px;
}

#centre .centre-left .t-left {
	text-align: right;
	width: 120px;
	padding-right: 10px;
}

#centre .centre-left form {
	margin-top: 5%;
	margin-left: 35%;
}

#centre .btn-register {
	width: 100%;
	height: 54px;
	color: #fff;
	background: #e22;
	border: 0;
	left: 50px;
	margin-top: 20px;
	font-size: 16px;
	font-family: "Microsoft YaHei", "Hiragino Sans GB";
}

#centre .centre-top {
	width: 100%;
	min-width: 800px;
	border-bottom: 1px #999999 solid;
	height: 93px;
}

#centre .email-validate {
	width: 50%;
	height: 37px;
	text-align: left;
}

#centre .getEmail-validate {
	width: 48%;
	border: 1px #999 solid;
	cursor: pointer;
	padding: 11.5px 20px;
	height: 54px;
	line-height: 37px;
	text-decoration: none;
}