@CHARSET "UTF-8";
@import url('../css.css');

#centre {
	height: 588px;
}

#centre .centre-left {
	height: 493px;
	width: 61%;
	float: left;
}

#centre .centre-right {
	height: 493px;
	width: 39%;
	float: left;
}

#centre .centre-left input {
	width: 288px;
	height: 37px;
}

#centre .centre-left tr {
	line-height: 57px;
	text-align: center;
}

#centre .centre-left span {
	color: red;
	font-size: 11px;
}

#centre .centre-left .t-left {
	text-align: right;
	width: 120px;
}

#centre .centre-left form {
	margin-top: 10%;
	margin-left: 35%;
}

#centre .btn-register {
	width: 100%;
	height: 54px;
	color: #fff;
	background: #e22;
	border: 0;
	font-size: 16px;
	font-family: "Microsoft YaHei", "Hiragino Sans GB";
}


#centre .centre-top{
	width: 100%;
	min-width:800px;
	height: 95px;
}